body {
    font-family: 'Poppins', sans-serif;
}
.socialMedia {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
    margin: 10px;
    font-size: 30px;
 }
.banner{
    background-image: url(image/background.avif); 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0;
}
#javascript{
    width: 70%;
}